ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  border-color: transparent;
}
.ant-row.ant-form-item-row {
  display: flex;
}
.ant-col.ant-col-8.ant-form-item-label {
  text-align: initial;
}
.ant-form-item-control-input-content > .ant-input-affix-wrapper {
  border-radius: 20px;
}
#basic_email_help > .ant-form-item-explain-error {
  text-align: center;
}
